# NewsAPI ключ (получить на https://newsapi.org/register)
NEWS_API_KEY=your_newsapi_key_here

# Яндекс OAuth (зарегистрировать приложение на https://oauth.yandex.ru/)
CLIENT_ID=your_yandex_client_id_here
CLIENT_SECRET=your_yandex_client_secret_here